<div class="EducationContentWrapper">
    <div class="UniversityName">
        University Conservatoire national des Arts et Métiers (CNAM) Liban <fa-icon [icon]="faExternalLink"
            class="UniversityLink ClickableItem" (click)="openUniversityWebsite()"></fa-icon>
    </div>
    <div class="TimelineWrapper Flex1">
        <div class="EngineeringTimelineWrapper TimelineItemWrapper">
            <div class="EngineeringTimelineTitle TimelineItemTitle">
                Software Engineering Degree
            </div>
            <div class="EngineeringTimelineContent">
                Obtained in 2024
            </div>
        </div>
        <div class="LicenseTimelineWrapper TimelineItemWrapper">
            <div class="LicenseTimelineTitle TimelineItemTitle">
                Bachelor in Computer Science
            </div>
            <div class="LicenseTimelineContent">
                Obtained in 2019
            </div>
        </div>
    </div>
</div>