<div class="HomeContentWrapper">
    <div class="LeftHomeContent">
        <div class="HomeContentProfileImageWrapper"><img class="HomeContentProfileImage"
                src="/assets/img/profile_cropped.jpg" /></div>
    </div>
    <div class="RightHomeContent">
        <div class="TextContentWrapper">
            <p>
                <span class="TextContentTitle">Antonio SEMAAN</span>
            </p>
            <p>
                <span class="TextContentSubtitle">A bit about me</span>
            </p>
            <p>
                <span class="TextContent">I am a software engineer with a degree from CNAM, passionate about innovative technology and committed to excellence. Skilled in .NET, Angular, and Flutter, I aim to push boundaries and deliver impactful solutions.</span>
            </p>
        </div>
    </div>
</div>