<div class="HomeContentWrapper">
    <div class="LeftHomeContent">
        <div class="HomeContentProfileImageWrapper"><img class="HomeContentProfileImage"
                src="/assets/img/profile_cropped.jpg" /></div>
    </div>
    <div class="RightHomeContent">
        <div class="TextContentWrapper">
            <p>
                <span class="TextContentTitle">Antonio SEMAAN</span>
            </p>
            <p>
                <span class="TextContentSubtitle">A bit about me</span>
            </p>
            <p>
                <span class="TextContent">I am an experienced software engineer with a strong background in .NET, Angular, and Flutter, specializing in backend 
development, frontend, and integration solutions. Skilled in software architecture, APIs, and DB management, 
with a focus on performance and clean code practices.</span>
            </p>
        </div>
    </div>
</div>