/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.DisplayFlex {
    display: flex;
}

.Flex1 {
    flex: 1;
}

.Flex2 {
    flex: 2;
}

.Flex3 {
    flex: 3;
}

.Flex4 {
    flex: 4;
}

.Flex5 {
    flex: 5;
}

.Flex6 {
    flex: 6;
}

.FlexDirectionColumn {
    flex-direction: column;
}

.JustifyContentSpaceAround {
    justify-content: space-around;
}

.JustifyContentSpaceBetween {
    justify-content: space-between;
}

.JustifyContentSpaceEvenly {
    justify-content: space-evenly;
}

.Height100 {
    height: 100%;
}

.Width100 {
    width: 100%;
}

.PaddingTop10 {
    padding-top: 10px;
}

.PaddingLeft10 {
    padding-left: 10px;
}

.ClickableItem{
    cursor: pointer;
}

.TextAlignCenter{
    text-align: center;
}

/* app-site-content {
    background-color: red;
} */

/* app-header {
    background-color: green;
} */

/* app-footer {
    background-color: blue;
} */