<div [style.height]="height+'px'">

    <ng-scrollbar [appearance]="'compact'" [visibility]="'hover'" class="ScrollBar">
        <div class="ProjectsContentWrapper">
            <div class="ExperienceEntry">
                <div class="ExperienceEntryTitle">
                    Fullstack Software Engineer Web/Mobile
                </div>
                <div class="ExperienceEntrySubtitle">
                    At Lyze Medical Technologies
                </div>
                <div class="ExperienceEntryContent">
                    <div class="ExperienceEntryContentItem">
                        <div class="ExperienceEntryContentItemLeft">
                            From
                        </div>
                        <div class="ExperienceEntryContentItemRight">
                            December 2020, until present
                        </div>
                    </div>
                    <div class="ExperienceEntryContentItem">
                        <div class="ExperienceEntryContentItemLeft">
                            Backend Technology
                        </div>
                        <div class="ExperienceEntryContentItemRight">
                            .Net framework, .Net Core
                        </div>
                    </div>
                    <div class="ExperienceEntryContentItem">
                        <div class="ExperienceEntryContentItemLeft">
                            Frontend Technology
                        </div>
                        <div class="ExperienceEntryContentItemRight">
                            Angular, Flutter
                        </div>
                    </div>
                </div>
            </div>
            <div class="ExperienceEntry">
                <div class="ExperienceEntryTitle">
                    Freelance Mobile developper
                </div>
                <div class="ExperienceEntrySubtitle">
                    Dare to Drink <fa-icon [icon]="faExternalLink" class="AppLink ClickableItem"
                        (click)="openDareToDrinkWebsite()"></fa-icon>
                </div>
                <div class="ExperienceEntryContent">
                    <div class="ExperienceEntryContentItem">
                        <div class="ExperienceEntryContentItemLeft">
                            Description
                        </div>
                        <div class="ExperienceEntryContentItemRight">
                            A card based drinking game intended for a group of friends.
                        </div>
                    </div>
                    <div class="ExperienceEntryContentItem">
                        <div class="ExperienceEntryContentItemLeft">
                            From
                        </div>
                        <div class="ExperienceEntryContentItemRight">
                            fall 2021, until present
                        </div>
                    </div>
                    <div class="ExperienceEntryContentItem">
                        <div class="ExperienceEntryContentItemLeft">
                            Frontend Technology
                        </div>
                        <div class="ExperienceEntryContentItemRight">
                            Flutter
                        </div>
                    </div>
                </div>
                <div class="ExperienceEntrySubtitle PaddingTop10">
                    Wifi Direct <fa-icon [icon]="faExternalLink" class="AppLink ClickableItem"
                        (click)="openWifiDirectWebsite()"></fa-icon>
                </div>
                <div class="ExperienceEntryContent">
                    <div class="ExperienceEntryContentItem">
                        <div class="ExperienceEntryContentItemLeft">
                            Description
                        </div>
                        <div class="ExperienceEntryContentItemRight">
                            Application that enables the holders to share files with each other
                        </div>
                    </div>
                    <div class="ExperienceEntryContentItem">
                        <div class="ExperienceEntryContentItemLeft">
                            From
                        </div>
                        <div class="ExperienceEntryContentItemRight">
                            fall 2021, until present
                        </div>
                    </div>
                    <div class="ExperienceEntryContentItem">
                        <div class="ExperienceEntryContentItemLeft">
                            Frontend Technology
                        </div>
                        <div class="ExperienceEntryContentItemRight">
                            Flutter
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-scrollbar>
</div>